 <div >
  <h2>{{user.name }} Szerkesztés:</h2>
      <div><span>ID: </span>{{user.id}}</div>

      <div>
        <label>Név:
          <input [value]="user.name" (input)="user.name = $event.target.value" placeholder="name"/>
        </label>
        <label>Email:
          <input [value]="user.email" (input)="user.email = $event.target.value" placeholder="email" type="email"/>
        </label>
         <label>Address:
          <input [value]="user.address" (input)="user.address = $event.target.value" placeholder="address"/>
        </label>
         <label>Email:
          <input [value]="user.birthdate" (input)="user.birthdate = $event.target.value" placeholder="birthdate" type="date"/>
        </label>
      </div>
      <br>
  </div> 